body {
    margin: 10;
    padding: 10;
    background-color: lightgray;
}

.row {
        /*display: table;
        width: 100%;
        table-layout: fixed;*/
        border-spacing: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: 100%;

 }
.artist{
      flex-basis: 30%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 1%;
      padding: 2%;
      border: 2px solid #eeeeee;
}
.songsHTML{
  display: flex;
  flex-basis: 50%;
}
  .pic {
    width: 20px;


  }
